/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!banner styles!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
body{
  margin:0;
  padding:0;
  overflow: hidden;
  color: #fff;
  font-family: "Open Sans" sans-serif;
  }
  
.ban-icn{
  margin: 5px 10px;
  height:30px;
  width:30px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; /* future proofing */
  -khtml-border-radius: 50px; /* for old Konqueror browsers */
  z-index: 9999;
}
#banner_divider{
    height:28px;
    width:1px;
    border-left: 1px solid #fff;
    border-right: 1px solid #000;
    position: absolute;
    top: 8px;
    left:58px;
    z-index: 9999;
}
.banner_container {
  position: relative;
  height:100%; 
  width:320px;
  margin: 10px 10px 0;
  padding:0;
  overflow: hidden;
  background:#3aa775;
   /*border:3px solid #d9eff9;*/
  float: left;
}
.banner{
  height: 50px;
  width: 320px;
  margin:0 auto 0;
  padding:0;
  background:#3aa775;
  overflow: hidden;
}
#panel_1{
    background:#3aa775;
    position: absolute;
    margin:0;
    padding:0;
    height: 50px;
    width: 320px;
}
#panel_2 {
    background:#00ff00;
    position: absolute; 
    height: 50px;
    width: 320px;
    top: 50px;
}

#banner_biz_name, #banner_bottom_line, #banner_bottom_line2{
  position: absolute;
  top:  -8px;
  left: 70px;
  font-size: 16px;
  text-shadow: 1px 1px 1px #272727;
  z-index: 1;
}
/*icons styles*/
.arts{
  background: #1ea1db url('../img/icn/category_icons.png') 0px 0px no-repeat;
  border: 3px solid #2f7dc0;
}
.auto{
  background: #3aa284 url('../img/icn/category_icons.png') -28px 0px no-repeat;
  border: 3px solid #1c7d64;
}
.busi{
  background: #ec1651 url('../img/icn/category_icons.png') -56px 0px no-repeat;
  border: 3px solid #ae023b;
}
.car{
  background: #a44685 url('../img/icn/category_icons.png') -84px 0px no-repeat;
  border: 2px solid #762c5f;
}
.edu{
  background: #7fcaad url('../img/icn/category_icons.png') -111px 0px no-repeat;
  border: 2px solid #3aa284;
}
.fam{
  background: #f16548 url('../img/icn/category_icons.png') -139px 0px no-repeat;
  border: 2px solid #ec1651;
}
.food{
  background: #2f7dc0 url('../img/icn/category_icons.png') -195px 0px no-repeat;
  border: 2px solid #485e87;
}
.health{
  background: #8885bf url('../img/icn/category_icons.png') -167px 0px no-repeat;
  border: 2px solid #645e97;
}

.hobby{
  background: #f6921e url('../img/icn/category_icons.png') -223px 0px no-repeat;
  border: 2px solid #f16548;
}

.home{
  background: #e23d84 url('../img/icn/category_icons.png') -251px -1px no-repeat;
  border: 2px solid #ad2361;
}

.law{
  background: #485e87 url('../img/icn/category_icons.png') -279px 0px no-repeat;
  border: 2px solid #2f7dc0;
}

.news{
  background: #52bbc5 url('../img/icn/category_icons.png') -307px 0px no-repeat;
  border: 2px solid #3a8d95;
}

/*personal finance*/
.finance{
  background: #485e87 url('../img/icn/category_icons.png') -335px 0px no-repeat;
  border: 2px solid #2f7dc0;
}

.pet{
  background: #2f7dc0 url('../img/icn/category_icons.png') -363px 0px no-repeat;
  border: 2px solid #485e87;
}
.real{
  background: #52bbc5 url('../img/icn/category_icons.png') -391px 0px no-repeat;
  border: 2px solid #3a8d95;
}

.science{
  background: #f6921e url('../img/icn/category_icons.png') -419px 0px no-repeat;
  border: 2px solid #f16548;
}

.shop{
  background: #a44685 url('../img/icn/category_icons.png') -447px 0px no-repeat;
  border: 2px solid #762c5f;
}

.society{
  background: #e23d84 url('../img/icn/category_icons.png') -475px 0px no-repeat;
  border: 2px solid #ad2361;
}

.sprt{
  background: #ec1651 url('../img/icn/category_icons.png') -503px 0px no-repeat;
  border: 2px solid #ae023b;
}

.style{
  background: #8885bf url('../img/icn/category_icons.png') -531px 0px no-repeat;
  border: 2px solid #645e97;
}

.tech{
  background: #f16548 url('../img/icn/category_icons.png') -559px 0px no-repeat;
  border: 2px solid #ec1651;
}

.trav{
  background: #7fcaad url('../img/icn/category_icons.png') -587px 0px no-repeat;
  border: 2px solid #3aa284;
}