<!doctype html>
<html ng-app="homeWooApp">
  <head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/app_static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/angular-slider.min.css"/>
    <link rel="stylesheet" href="/app_static/css/d3.css"/>
    <link rel="stylesheet" href="/static/css/d3-bootstrap-plugin.css" />

   <style type="text/css">
     html {  }
     body {margin: 0px; padding: 0px }
     .map { width: 100% }
   </style>

    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("779909c76c8d76b0f10dadf480e50885", {set_pageview: false});

</script><!-- end Mixpanel -->

    <title>NearWoo - Advertise Near You!</title>

  </head>

    <body style="margin-top:5px;" ng-controller='MapHome' id='main-controller'>
        <div  class=" clearfix" id="" style='position:absolute'> 

          <div class="navbar navbar-default navbar-fixed-top" id="main_header" >
            <div class="" style="">
              <a ng-href="{{home_page}}" id="home"><div class="logo" style='margin-left:0px; margin-top:-5px' >
                <div class='header-logo'></div>
              </div></a>
              <!--start main nav dir-->
              <ul class="nav navbar-nav light-font pull-right" style="margin-right:15px;">
                
                <li id="nav_items"><a href="http://nearwoo.appspot.com/b/#/learn">How It Works</a></li>
                <li id="nav_items"><a href="http://nearwoo.appspot.com/b/#/pricing" >Pricing</a></li>
                <li id="nav_items"><a href="http://nearwoo.appspot.com/b/#/about" style='margin-right:20px'>Our Team</a></li>
                <!-- <li id="nav_items"><a href="#/login">Login</a></li> -->

                <li id="new_camp_btn"><a class="btn btn-warning round_corners " href="http://nearwoo.appspot.com/b/#/login" style='padding-top:10px; padding-bottom:10px; margin-top:3px'>Login</a></li>

              </ul>
              <!--end main nav dir-->
            </div>
          </div>
        </div>

        <div ng-show='start_phase' style='position:absolute; z-index:150; margin-top:70px; padding:17px; width:100%; background-color: rgba(0, 0, 0, 0.78); height:525px; text-align:center'>
          <div style='font-size:35px; margin:4px; margin-top:150px'><span style='color:#52bcc6'>Your Message on Everyone's Phone Near You.</span></div>
        
          <div style=' margin:4px;  margin-top:22px; font-size:17px;margin-bottom:0px; color:#fff'>Hyperlocal mobile ads work 5 times better when the ads<br>are seen within 1/2 mile of your business.</div>

           <div style='text-align:center'>
            <!-- <input onkeydown="if (event.keyCode == 13) { start_enter(); return false; }" ng-model='search' placeholder='Enter Your Zipcode' class='form-control' /> -->
            <a ng-click='start_page() ' analytics-on="click" analytics-event="click_continue" class='btn btn-primary' style="padding-top:11px; padding-bottom:11px; margin-top:33px; padding-right:14px; padding-left:14px; margin-right:13px">Continue <i class='glyphicon glyphicon-arrow-right'></i></a>
          </div>
        </div>


        <div ng-show='search_phase' id='search_phase' style='display:none'>

          <div style="text-align:center; position:absolute; z-index:155; width:450px; left:730px; box-shadow: 4px 2px 6px #999; margin-top:311px; background-color:#fff; border-radius:3px; padding:7px; padding-top:12px; width:250px; border:1px solid #fff" ng-show="alert_message" class="">
            <div style="text-align:center; font-size:15px; margin:4px; margin-top:0px; color:#666"><p><i class="glyphicon glyphicon-info-sign" style="margin-top:7px; margin-right:4px;"></i>{{alert_message}}</p></div>
          </div>




          <div style='text-align:center; position:absolute; z-index:155; width:150px; right:20px; box-shadow: 4px 2px 6px #999; margin-top:111px; background-color:#fff; border-radius:3px; padding:7px; padding-top:9px; width:250px; border:1px solid #fff' ng-show='current_poly'>
            <div style='text-align:center; font-size:11px; margin:4px; margin-top:0px; color:#666'><strong>{{current_poly.tapsegnam}}</strong> | <span ng-show='current_poly.click_rate*100 > .01'><strong>{{current_poly.click_rate*100 | number:2}}% Click</strong></span> <span ng-show='current_poly.click_rate*100 <= .01'><strong>.26% Click</strong></span> </div>
          </div>

        <div style='position:absolute; z-index:155; margin-left:20px; box-shadow: 4px 2px 6px #999; margin-top:91px; background-color:#fff; border-radius:3px; padding:17px; width:250px; border:1px solid #fff'>

          <div ng-show='true'>

            <!-- <div style='font-size:17px; margin:4px; margin-top:-3px'><em>Neighborhoods Loaded</em></div> -->
<!--             <hr>
            <div style='font-size:13px; margin:4px; margin-top:0px; color:#666'>Three neighborhoods are currently selected.  Different colors represent different volumes.  Click on the map change how many ads you deliver to each neighborhood.</div>-->
          </div> 
          <div ng-show='step1'>
            <div style=''>
              <a ng-click='the_search_page()' class='btn btn-primary' style="position:absolute; right:0; padding-top:4px; padding-bottom:4px; margin-top:2px; padding-right:7px; padding-left:7px; margin-right:19px"><i class='glyphicon glyphicon-search'></i></a>
              <input onkeydown="if (event.keyCode == 13) { search_page(); return false; }" style='background-color:#fafafa; color:#7d7d7d; border-radius:0' ng-model='search' placeholder='Enter a Zip Code' class='form-control' />
                
            </div>
            <!-- <div style='font-size:13px; margin:4px; margin-bottom:0px; color:#666; margin-top:17px'><div class='pull-left' style='margin:5px; height:10px; width:10px; background-color:#ffca04'></div> <strong>Regular</strong> <span style='font-size:11px'>(1000 ads)<span></div> -->

            <div style='margin-left:57px;'>

              <div style='font-size:17px; margin:4px; margin-bottom:0px; color:#666; margin-top:17px'><div class='pull-left' style='margin:5px; margin-top:8px; height:10px; width:10px; background-color:#ffca04'></div> <span>1,000 Ads</span> <span style='font-size:11px'></span></div>
              <div style='font-size:17px; margin:4px; margin-bottom:0px; color:#666; margin-top:7px'><div class='pull-left' style='margin:5px; margin-top:8px; height:10px; width:10px; background-color:#5bc0de'></div> <span>2,000 Ads</span> <span style='font-size:11px'></span></div>
              <div style='font-size:17px; margin:4px; margin-bottom:0px; color:#666; margin-top:7px'><div class='pull-left' style='margin:5px; margin-top:8px; height:10px; width:10px; background-color:#ed1650'></div> <span>3,000 Ads</span> <span style='font-size:11px'></span></div>

            </div>
            <!-- <div style='font-size:13px; margin:4px; margin-bottom:0px; color:#666'><div class='pull-left' style='margin:5px; height:10px; width:10px; background-color:#ed1650'></div> <strong>Super Premium</strong> <span style='font-size:11px'>(3000 ads)</span></div> -->
            <hr>
            <!-- <div style='font-size:13px; margin:4px; margin-top:0px; color:#666'>Neighborhoods: <strong>{{neighborhoods | number:0}}</strong> </div> -->

            <div style='text-align:center; font-size:13px; margin:4px; margin-bottom:0px; color:#666'><div></div><span style='font-size:21px'>{{ads| number:0}}</span><span style='font-size:12px'>ads</span></strong> <span style='font-size:11px'><span></div>
            <div style='text-align:center; font-size:12px; margin:4px; margin-bottom:0px; color:#666'><span>$.025 cents</span> per ad</div>
            <div style='text-align:center; font-size:12px; margin:4px; margin-bottom:0px; color:#666'>Only ${{ads * .025 | number:2}} per month</div>
            
            <hr>
            <div>
              <a class='btn btn-warning' ng-click="learn_more()" analytics-on="click" analytics-event="click_learnmore" style="margin:4px; margin-top:2px">Learn More</a>
              <a class='btn btn-primary' ng-click='go_on()' analytics-on="click" analytics-event="go_on_findbiz" style="margin:4px; margin-top:2px; padding-right:14px; padding-left:14px">Go On <i class='glyphicon glyphicon-arrow-right'></i></a></div>
          </div>          
          
          </div>

        </div>

        <!--start ng-view dir-->
        <div class='container map' style='padding-left:0px; padding-right:0px; margin-top:-5px;'>
          <div id="the_map" class='map' style='height:525px; width:100%; margin-top:70px'></div> 
        </div>

        <div class='container' style='width:950px; margin-top:58px'>
          <div class='pull-left' style='width:300px; height:240px; text-align:center'>
            <div>
              <img src='../b/img/icon_opportunity_100x100.png'>
            </div>
            <div style='font-size:17px; margin-top:14px; margin-bottom:8px'>
              <strong>Opportunity</strong>
            </div>
            <div>
              Thousands of people<br> on their phone are in<br> your neighborhood and <br>around your business.
            </div>
          </div>
          <div class='pull-left' style='width:300px; height:240px; text-align:center'>
            <div>
              <img src='../b/img/icon_target_100x100.png'>
            </div>
            <div style='font-size:17px; margin-top:14px; margin-bottom:8px'>
              <strong>Target</strong>
            </div>
            <div>
              NearWoo's hyperlocal <br>technology identifies them <br>and displays your ad on <br>their phone.
            </div>
          </div>
          <div class='pull-left' style='width:300px; height:240px; text-align:center'>
            <div>
              <img src='../b/img/icon_result_100x100.png'>
            </div>
            <div style='font-size:17px; margin-top:14px; margin-bottom:8px'>
              <strong>Results</strong>
            </div>
            <div>
              Consumers are 3 times <br>happier to receive ads from<br> local stores and you reach <br>consumers who matter.
            </div>
          </div>
        </div>


        <div style='height:130px;'>
          <div style='height:130px; background-image: url("../b/img/footer.png")'>
           
          </div>
        </div>
       <div id="footer" class="container row-fluid">
                        <div id="footer_container">

                                  <div id="footer-first">
                                      <!-- Footer Navigation -->
                                           <ul class="nav pull-left" style="margin-left:0; padding-right:50px">
                                                <h3 style='font-size:13px; margin-left:4px; color:#e7ebed'><strong>NEARWOO</strong></h3>

                                                <li><a style='font-size:13px; color:#b6b9bd' href='/'>Home</a></li>
                                                <li><a style='font-size:13px; color:#b6b9bd' href='b/index.html#/pricing'>Pricing</a></li>
                                                <li><a style='font-size:13px; color:#b6b9bd' href='b/index.html#/learn'>Learn</a></li>
                                                <li><a style='font-size:13px; color:#b6b9bd' href='b/index.html#/help'>FAQ</a></li>
                                                <li><a style='font-size:13px; color:#b6b9bd' href='b/index.html#/partners'>Partners</a></li>

                                            </ul>
                                            <ul class="nav pull-left" style='margin-left:20px' >
                                                <h3 style='font-size:13px; margin-left:4px; color:#e7ebed'><strong>ABOUT</strong></h3>
                                                
                                                <li><a style='font-size:13px; color:#b6b9bd' href='b/index.html#/about' ng-model="active">Team</a></li>  
                                                <li><a style='font-size:13px; color:#b6b9bd' href='http://nearwoo.co'>Blog</a></li>
                                                <li><a style='font-size:13px; color:#b6b9bd' href="http://www.linkedin.com/company/pagewoo" target="_blank">Jobs</a></li>
                                                <li><a style='font-size:13px; color:#b6b9bd' href='/b/index.html#/press'>Press</a></li>
                                                <li><a style='font-size:13px; color:#b6b9bd' href='/b/index.html#/help'>Contact</a></li>
                                                

                                            </ul>
                                    </div>

                             <!-- Maps and Emails -->
                                  <div id="footer-second">
                                        <h3 style='font-size:13px; color:#e7ebed'><strong>CONTACT</strong></h3>
                                        <a class="" href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d3372!2d-118.4966819!3d34.0153971!4m36!3m16!1m0!1m5!1s225+Santa+Monica+Blvd%2C+Santa+Monica%2C+CA+90401!2s0x80c2a4cfe7eeca0f%3A0x30d10e75e4ab9213!3m2!3d34.0153971!4d-118.4966819!3m8!1m3!1d3372!2d-118.4966819!3d34.0153971!3m2!1i1423!2i783!4f13.1!5m16!2m15!1m14!1s0x80c2a4cfe7eeca0f%3A0x30d10e75e4ab9213!2s225+Santa+Monica+Blvd+4th+Floor+Santa+Monica%2C+CA+90401!3m8!1m3!1d3372!2d-118.4966819!3d34.0153971!3m2!1i1423!2i783!4f13.1!4m2!3d34.0153971!4d-118.4966819!7m1!3b1&fid=0" target="_blank">
                                            <p style='font-size:13px; color:#b6b9bd' style="margin-left:0;">225 Santa Monica Blvd<br>
                                                4th Floor<br>
                                                Santa Monica, CA 90401</p></a>

                                        
                                        <a style='font-size:13px; color:#b6b9bd; width:100%;' class="" href="mailto:help@nearwoo.com?subject=Help me please" ><p style="margin-left:0;">help@nearwoo.com</p></a>
                                    
                                        <a style='font-size:13px; color:#b6b9bd' class="" href="mailto:partners@nearwoo.com?subject=Potential NearWoo partner" ><p style="margin-left:0;">partners@nearwoo.com</p></a>

                                    </div>
                              
                              <!-- Social Media Links -->
                                    <div  id="footer-third">
                                      <h3 style='font-size:13px; color:#e7ebed'><strong>CONNECT</strong></h3>
                                          <ul style="list-style:none; margin:0px; padding:0px;">
                                            <li style="margin-bottom:2px;"><a href="http://nearwoo.co" target="_blank" style="padding:0px;"><img src="/static/img/footer_blog.png"> <span style="padding-left:10px;">Blog</span></a></li>
                                            <li style="margin-bottom:2px;"><a href="https://www.facebook.com/adsnearwoo" target="_blank" style="padding:0px;"><img src="/static/img/footer_facebook.png"><span style="padding-left:13px;">Facebook</span></a></li>
                                            <li style="margin-bottom:2px;"><a href="https://twitter.com/adsnearwoo"  target="_blank" style="padding:0px;"><img src="/static/img/footer_twitter.png"> <span style="padding-left:10px;">Twitter</span></a></li>
                                            <li style="margin-bottom:2px;"><a ng-href="http://www.linkedin.com/company/pagewoo" target="_blank" style="padding:0px;"><img src="/static/img/footer_linkedin.png"><span style="padding-left:13px;">LinkedIn</span></a></li>
                                          </ul>
                                    </div>
                        </div>

                    </div><!-- /footer-container -->
                     <div class="privacy-policy clear-fix" >
                                <p>&copy; 2014 NearWoo - <a href="/b/#/privacy">Privacy Policy</a> - <a href="/b/#/terms">Terms of Service</a></p>
                        </div>
<!--     <div id="footer" class="container row-fluid"></div> -->
    <!-- /footer-container -->


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.9/angular-route.min.js"></script>
    <script src="/static/js/analytics/angulartics.js"></script>
    <script src="/static/js/analytics/angulartics-ga.js"></script>
    <script src="/static/js/analytics/angulartics-mixpanel.js"></script>
    <script src="/static/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="/static/js/angular-slider.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&sensor=false&key=AIzaSyDsIM8o2P-zsYF3j5TcySsra3bF7bP8pfE"></script>
    <script type="text/javascript" src="/static/js/maphome.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42464321-1', 'auto');
  ga('send', 'pageview');

</script>

    <script type="text/javascript">
   (function(d,s,i,r) {
     if (d.getElementById(i)){return;}
     var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
     n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/415359.js';
     e.parentNode.insertBefore(n, e);
   })(document,"script","hs-analytics",300000);
  </script>



  </body>
</html>





















