

  <div class="top">
    <h2>Mobile Advertising in Your Neighborhood.</h2>
  </div><!-- /top -->

  <div style="text-align:center; width:460px; margin:auto; padding:20px 0 20px 0;">
    <h4 style="color:#525a67;">Hyperlocal mobile ads are 5 times more effective when the ads are seen within a 1.2 mile of your business.</h4>
  </div>

  <div style="width:800px; height:600px;">
    <!--start icons-->
    <div style="float:left; width:400px;">
    <!--      /*   #51bbc5
      #ed1650
      #1da1dc
      #645e97*/ -->

      <div class="icon_wrapper">
        <div class="icon_left">
          <div style="width:100px; height:100px; border-radius:50px; background:#51bbc5;"><div class="icon_one"></div></div>
        </div>
        <div class="icon_right"><p>At any given moment, thousands of people near your business are on their mobile devices.</p></div>
      </div>
      
      <div style="clear:both;"></div>
      
      <div class="icon_wrapper">
        <div class="icon_left">
          <div style="width:100px; height:100px; border-radius:50px; background:#ed1650;"><div class="icon_two"></div></div>
        </div>
        <div class="icon_right"><p>Potential Customers are identified and your ads are displayed on their phone using hyperlocal technology.</p></div>
      </div>
      
        <div style="clear:both;"></div>
      
      <div class="icon_wrapper">
        <div class="icon_left">
          <div style="width:100px; height:100px; border-radius:50px; background:#1da1dc;"><div class="icon_three"></div></div>
        </div>
        <div class="icon_right"><p>Ads for your business will be on the most popular mobile website and apps like CNN and Angry Birds.</p></div>
      </div>

        <div style="clear:both;"></div>

      <div class="icon_wrapper">
        <div class="icon_left">
          <div style="width:100px; height:100px; border-radius:50px; background:#645e97;"><div class="icon_four"></div></div>
      </div>
        <div class="icon_right"><p>Hyperlocal technology is a reliable and sustainable way to drive new customers into your business.</p></div>
      </div>
      
      <!--end icons-->
    
    </div>
    <!--start form-->
    <div style="float:left; width:400px;">
      <div style="width:300px; margin-top:10px; margin-left:80px; padding:20px; background:#eee;">
          <p class="text-info">{{form_message}}</p>
          <form id="contact_form">
            <label>Full Name *</label>
            <input type="text" class="form-control" ng-model="form.full_name" required>

            <label>Email Address *</label>
            <input type="email" class="form-control" ng-model="form.email" required>

            <label>Phone Number *</label>
            <input type="text" class="form-control" ng-model="form.phone" required>

            <label>Company Name *</label>
            <input type="text" class="form-control" ng-model="form.company" required>
            
            <label>How may we help you?</label>
            <textarea class="form-control" ng-model="form.message"></textarea>
            
            <button class="btn btn-danger" ng-click="submit_form()">Request Info</button>

          </form>
      </div>
    </div>
    <!--end form-->

<!--     <div style="clear:both;"></div> -->
  </div>

  <div style="width:800px; color:#fff;">
    <div style="float:left; width:400px; background:#778295; height:240px; padding-top:10px;" >
      <div style="float:left; width:150px; text-align:right;"><h1>1.3B</h1></div><div style="float:left; width:250px; padding:20px 0 0 10px;">
      <p><span class="bottom-text">Mobile Users</span> <br />Nationwide</p></div>
       <div style="clear:both;"></div>
      <div style="float:left; width:150px; text-align:right;"><h1>9X</h1></div><div style="float:left; width:250px; padding:20px 0 0 10px;">
      <p><span class="bottom-text">More Effective </span> <br />Than Internet Advertising</p></div>
       <div style="clear:both;"></div>
      <div style="float:left; width:150px; text-align:right;"><h1>105%</h1></div><div style="float:left; width:250px; padding:20px 0 0 10px;">
      <p><span class="bottom-text">Industry Growth </span> <br /> Year over Year</p></div>
       <div style="clear:both;"></div>
    </div>
    <div style="float:left; width:400px; height:240px; background:#525a67;">
      <img src="/static/img/iphone_image.png" style="margin:36px 100px 0 80px;"></div>
    <div style="clear:both;"></div>
  </div>

